<div>
    <h4>在该页面修改你的数据</h4>
    <!--通过改变form标签中method属性来改变数据请求的方式-->
    <form action="http://10.0.60.86:5004/xzz/update" method="POST">
        请输入你需要修改的id:<input type="text" name="id" autocomplete="off"><br/>
        请输入修改的单位名称:<input type="text" name="单位名称" autocomplete="off"><br/>
        请输入修改的部门:<input type="text" name="部门" autocomplete="off"><br/>
        请输入修改的岗位名称:<input type="text" name="岗位名称" autocomplete="off"><br/>
        请输入修改的姓名:<input type="text" name="姓名" autocomplete="off"><br/>
        请输入修改的工号:<input type="text" name="工号" autocomplete="off"><br/>
        <input type="submit" value="Submit">
    </form> 
    <a href="/xzz"><button>查看数据</button></a>
</div>
